## import libraries

In [177]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings
import os
warnings.filterwarnings("ignore")

In [178]:
file_path = input("Enter the path of the data")
# "D:\Datascience\Electropi\2.Artificial Neural Networks [NN1]\2.Neural Networks Coding\capstone\capstone\data.csv"

In [179]:
# Try specifying encoding (e.g., 'utf-8', 'ISO-8859-1', or 'cp1252')
df = pd.read_csv(file_path,encoding='unicode_escape')

In [180]:
df.shape

(541909, 8)

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [182]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

## Drop the not needed columns

In [160]:
# Get column names from the user
columns_to_drop_str = input("Enter column names to drop (comma-separated): ")

# Split the input into a list of column names
columns_to_drop = [col.strip() for col in columns_to_drop_str.split(',')]

# Print the columns to choose from
print("Columns to choose from:", df.columns.tolist())

# Drop the specified columns from the DataFrame
df.drop(columns=columns_to_drop, inplace=True)

# Show the updated DataFrame
print("Updated DataFrame:")
print(df)

Enter column names to drop (comma-separated): InvoiceNo,StockCode,Description,InvoiceDate
Columns to choose from: ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']
Updated DataFrame:
        Quantity  UnitPrice  CustomerID         Country
0              6       2.55     17850.0  United Kingdom
1              6       3.39     17850.0  United Kingdom
2              8       2.75     17850.0  United Kingdom
3              6       3.39     17850.0  United Kingdom
4              6       3.39     17850.0  United Kingdom
...          ...        ...         ...             ...
541904        12       0.85     12680.0          France
541905         6       2.10     12680.0          France
541906         4       4.15     12680.0          France
541907         4       4.15     12680.0          France
541908         3       4.95     12680.0          France

[541909 rows x 4 columns]

In [75]:
df["InvoiceDate"]=pd.to_datetime(df["InvoiceDate"])

In [183]:
df.duplicated().sum()

5268

## Removing dublicated rows and empty rows

In [184]:
df.drop_duplicates(inplace=True)

In [185]:
(df.isna().sum().sort_values(ascending=False)/len(df))*100

CustomerID     25.163377
Description     0.270945
InvoiceNo       0.000000
StockCode       0.000000
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
Country         0.000000
dtype: float64

In [186]:
df.dropna(inplace=True)

## Statistical Summary

In [187]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,401604.0,12.183273,250.283037,-80995.0,2.00,5.00,12.00,80995.0
UnitPrice,401604.0,3.474064,69.764035,0.0,1.25,1.95,3.75,38970.0
CustomerID,401604.0,15281.160818,1714.006089,12346.0,13939.00,15145.00,16784.00,18287.0

##  First TEN Selling Countries

In [188]:
# df[input("Enter the coulomn you want to count and plot in ascending order")].value_counts().sort_values(ascending=False).head(10).plot(kind="bar")

In [189]:
top_countries = df[input("Enter the column you want to order in ascending order  to be added in alist")].value_counts().sort_values(ascending=False).head(10).index.to_list()
top_countries

Enter the column you want to order in ascending order  to be added in alistCountry

['United Kingdom',
 'Germany',
 'France',
 'EIRE',
 'Spain',
 'Netherlands',
 'Belgium',
 'Switzerland',
 'Portugal',
 'Australia']

##  First TEN StockCode

In [190]:
top_stokes = df[input("Enter the column you want to order in ascending order  to be added in alist")].value_counts().sort_values(ascending=False).head(10).index.to_list()
top_stokes

Enter the column you want to order in ascending order  to be added in alistStockCode

['85123A',
 '22423',
 '85099B',
 '47566',
 '84879',
 '20725',
 '22720',
 'POST',
 '22197',
 '23203']

### First 10 mean unit price per  countries

In [168]:
df.groupby('Country').mean()['UnitPrice'].sort_values(ascending=False).head(10)

In [191]:
df[df['Country'] == 'Singapore'].describe()

         Quantity    UnitPrice  CustomerID
count  229.000000   229.000000       229.0
mean    22.855895   109.645808     12744.0
std     27.742886   515.275500         0.0
min     -1.000000     0.190000     12744.0
25%      8.000000     1.250000     12744.0
50%     12.000000     2.100000     12744.0
75%     24.000000     4.150000     12744.0
max    288.000000  3949.320000     12744.0

In [192]:
df[df['Country'] == 'Singapore']['UnitPrice'].quantile(0.95)

#### Outliers

In [193]:
df[df['Country'] == 'Singapore'].groupby('StockCode').mean()['UnitPrice'].sort_values(ascending=False).head(10)

In [194]:
df[df['Country'] == 'Singapore'].groupby('StockCode').mean()['UnitPrice'].sort_values(ascending=False).head(10)

In [195]:
import warnings
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

warnings.filterwarnings('ignore')

# Assuming 'Quantity' is the target variable
# target_column = input("Enter the column that you want to predict: ")

X = df.drop(columns=["Quantity"])
y = df["Quantity"]

In [196]:
# Check data types of each column
print(X.dtypes)

InvoiceNo       object
StockCode       object
Description     object
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

# scaling the data and Hot encoding

In [197]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split


df_ = df.drop(columns=['Description','InvoiceDate'])
df_ = df_[(df_['Country'].isin(top_countries)) & (df_['StockCode'].isin(top_stokes))]
X = df_.drop(columns=['Quantity'])
y = df_['Quantity']
X = pd.get_dummies(X, columns=X.select_dtypes('object').columns,drop_first=True)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X.values)
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y,test_size=0.2,random_state=42)

In [198]:


# Create new DataFrames for training and testing sets
X_train_df = pd.DataFrame(X_train, columns=X.columns)
X_test_df = pd.DataFrame(X_test, columns=X.columns)
y_train_df = pd.DataFrame(y_train, columns=[y.name])
y_test_df = pd.DataFrame(y_test, columns=[y.name])

# Reset indices for both X_train_df and y_train_df
X_train_df.reset_index(drop=True, inplace=True)
y_train_df.reset_index(drop=True, inplace=True)

print('X_train:', X_train_df.shape)
print('y_train:', y_train_df.shape)
print('X_test:', X_test_df.shape)
print('y_test:', y_test_df.shape)

X_train: (11232, 9017)
y_train: (11232, 1)
X_test: (2809, 9017)
y_test: (2809, 1)

### Model

In [199]:
import torch
from torch import nn

In [200]:
class Data(torch.utils.data.Dataset):
    def __init__(self, X, y):
        self.X = torch.from_numpy(X)
        self.y = torch.from_numpy(y.values)
        
    def __len__(self): return len(self.X)
    
    def __getitem__(self,i): return (self.X[i], self.y[i])

In [208]:
class NeuralNetwork(nn.Module):
    def __init__(self):
        super().__init__()
        self.layers = nn.Sequential(
            nn.Linear(X.shape[1],50),
            nn.ReLU(),
            nn.Linear(50,30),
            nn.Tanh(),
            nn.Linear(30,10),
            nn.LogSigmoid(),
            nn.Linear(10,1)
        )
        
    def forward(self,X):
        return self.layers(X)

In [209]:
NN = NeuralNetwork()

In [210]:
train_dataset = Data(X_train, y_train)
train_loader = torch.utils.data.DataLoader(train_dataset, batch_size=8)

In [211]:

optimizer = torch.optim.Adam(NN.parameters(), lr=1e-3,weight_decay=1e-2)

In [212]:
cost = nn.MSELoss()
past_trainig_loss = 0
epochs = 100
for epoch in range(epochs):
    total_training_loss = 0
    for i, data in enumerate(train_loader,0):
        features,target = data
        features,target = features.float(),target.float()
        target = target.reshape(-1,1)
        optimizer.zero_grad()
        pred = NN.forward(features)
        loss = cost(pred,target)
        total_training_loss += loss.item()
        loss.backward()
        optimizer.step()
    past_trainig_loss = total_training_loss - past_trainig_loss
    print(f'-[{str(epoch+1).zfill(2)}]  loss = {total_training_loss} | diffrecence = {past_trainig_loss}')
    past_trainig_loss = total_training_loss

-[01]  loss = 8432947.905225754 | diffrecence = 8432947.905225754
-[02]  loss = 8248239.566328049 | diffrecence = -184708.33889770508
-[03]  loss = 7986758.823423862 | diffrecence = -261480.74290418625
-[04]  loss = 7401788.897787571 | diffrecence = -584969.9256362915
-[05]  loss = 6950303.388853073 | diffrecence = -451485.50893449783
-[06]  loss = 6625370.192596436 | diffrecence = -324933.1962566376
-[07]  loss = 6180442.417964935 | diffrecence = -444927.77463150024
-[08]  loss = 5781943.940582871 | diffrecence = -398498.47738206387
-[09]  loss = 5467316.263991237 | diffrecence = -314627.67659163475
-[10]  loss = 5074518.4383022785 | diffrecence = -392797.82568895817
-[11]  loss = 4791535.753673375 | diffrecence = -282982.68462890387
-[12]  loss = 4528388.902053088 | diffrecence = -263146.8516202867
-[13]  loss = 4246236.864859819 | diffrecence = -282152.03719326854
-[14]  loss = 4035046.02894336 | diffrecence = -211190.83591645956
-[15]  loss = 3927756.179254174 | diffrecence = -107289.84968918562
-[16]  loss = 3682340.359579444 | diffrecence = -245415.8196747303
-[17]  loss = 3548279.8254166245 | diffrecence = -134060.5341628194
-[18]  loss = 3302894.244292319 | diffrecence = -245385.58112430573
-[19]  loss = 3210631.1406111717 | diffrecence = -92263.1036811471
-[20]  loss = 3112075.4195782244 | diffrecence = -98555.7210329473
-[21]  loss = 2999699.7670146823 | diffrecence = -112375.65256354213
-[22]  loss = 3019712.5873079896 | diffrecence = 20012.820293307304
-[23]  loss = 2983497.4556189477 | diffrecence = -36215.13168904185
-[24]  loss = 2727042.367669493 | diffrecence = -256455.08794945478
-[25]  loss = 2619809.2183180153 | diffrecence = -107233.14935147762
-[26]  loss = 2523069.4200962186 | diffrecence = -96739.79822179675
-[27]  loss = 2606566.5280258656 | diffrecence = 83497.10792964697
-[28]  loss = 2362031.154443383 | diffrecence = -244535.37358248234
-[29]  loss = 2197982.1825274825 | diffrecence = -164048.9719159007
-[30]  loss = 2194103.4234187007 | diffrecence = -3878.7591087818146
-[31]  loss = 2172511.80088526 | diffrecence = -21591.62253344059
-[32]  loss = 7107705.116443694 | diffrecence = 4935193.3155584335
-[33]  loss = 7647753.010582566 | diffrecence = 540047.8941388726
-[34]  loss = 6722344.650914192 | diffrecence = -925408.3596683741
-[35]  loss = 5938101.668505132 | diffrecence = -784242.98240906
-[36]  loss = 5237692.220096827 | diffrecence = -700409.4484083056
-[37]  loss = 4324385.972905636 | diffrecence = -913306.2471911907
-[38]  loss = 3649442.099170327 | diffrecence = -674943.8737353086
-[39]  loss = 3365128.4023985863 | diffrecence = -284313.6967717409
-[40]  loss = 3029965.6182609797 | diffrecence = -335162.7841376066
-[41]  loss = 2935185.7647992373 | diffrecence = -94779.8534617424
-[42]  loss = 3191247.5836253166 | diffrecence = 256061.81882607937
-[43]  loss = 3397296.6103316545 | diffrecence = 206049.02670633793
-[44]  loss = 2609227.413248807 | diffrecence = -788069.1970828474
-[45]  loss = 2504342.1683409214 | diffrecence = -104885.24490788579
-[46]  loss = 2307581.0035020113 | diffrecence = -196761.1648389101
-[47]  loss = 2190520.2962058783 | diffrecence = -117060.70729613304
-[48]  loss = 2083898.105034411 | diffrecence = -106622.1911714673
-[49]  loss = 2277459.689843774 | diffrecence = 193561.5848093629
-[50]  loss = 2019362.1401096582 | diffrecence = -258097.5497341156
-[51]  loss = 1987635.5629543066 | diffrecence = -31726.57715535164
-[52]  loss = 1966475.1571996212 | diffrecence = -21160.405754685402
-[53]  loss = 2005893.5920780897 | diffrecence = 39418.43487846851
-[54]  loss = 1979336.5258903503 | diffrecence = -26557.066187739372
-[55]  loss = 2064159.178024292 | diffrecence = 84822.65213394165
-[56]  loss = 1923475.519589901 | diffrecence = -140683.65843439102
-[57]  loss = 1731999.3945705295 | diffrecence = -191476.1250193715
-[58]  loss = 1566363.6655614376 | diffrecence = -165635.72900909185
-[59]  loss = 1751672.299864173 | diffrecence = 185308.63430273533
-[60]  loss = 1831923.7806265354 | diffrecence = 80251.48076236248
-[61]  loss = 1867597.9635418057 | diffrecence = 35674.18291527033
-[62]  loss = 1503529.9370896816 | diffrecence = -364068.0264521241
-[63]  loss = 1487296.5258831382 | diffrecence = -16233.411206543446
-[64]  loss = 1493477.8198287487 | diffrecence = 6181.293945610523
-[65]  loss = 1329400.9320814013 | diffrecence = -164076.88774734735
-[66]  loss = 1389840.1749105453 | diffrecence = 60439.242829144
-[67]  loss = 1592663.9281237125 | diffrecence = 202823.7532131672
-[68]  loss = 1540463.860797882 | diffrecence = -52200.06732583046
-[69]  loss = 1463701.5252145529 | diffrecence = -76762.3355833292
-[70]  loss = 1913504.5321661234 | diffrecence = 449803.0069515705
-[71]  loss = 1422659.667871356 | diffrecence = -490844.8642947674
-[72]  loss = 1277527.4831155539 | diffrecence = -145132.18475580215
-[73]  loss = 1321304.603475213 | diffrecence = 43777.120359659195
-[74]  loss = 1196040.4933913946 | diffrecence = -125264.11008381844
-[75]  loss = 1153261.3999089003 | diffrecence = -42779.093482494354
-[76]  loss = 1190936.896955669 | diffrecence = 37675.497046768665
-[77]  loss = 1853620.3681092262 | diffrecence = 662683.4711535573
-[78]  loss = 1246973.7557325363 | diffrecence = -606646.6123766899
-[79]  loss = 1198465.2195385695 | diffrecence = -48508.536193966866
-[80]  loss = 1173402.511101365 | diffrecence = -25062.70843720436
-[81]  loss = 1101038.5733207464 | diffrecence = -72363.93778061867
-[82]  loss = 1224166.7189381123 | diffrecence = 123128.14561736584
-[83]  loss = 1178699.189864397 | diffrecence = -45467.52907371521
-[84]  loss = 1172668.10274899 | diffrecence = -6031.08711540699
-[85]  loss = 1206028.7990823984 | diffrecence = 33360.696333408356
-[86]  loss = 1185009.5928197503 | diffrecence = -21019.206262648106
-[87]  loss = 1093789.2365949154 | diffrecence = -91220.35622483492
-[88]  loss = 1079909.83062613 | diffrecence = -13879.405968785286
-[89]  loss = 1224794.4926480055 | diffrecence = 144884.66202187538
-[90]  loss = 1370299.950236082 | diffrecence = 145505.4575880766
-[91]  loss = 1214516.7990527153 | diffrecence = -155783.15118336678
-[92]  loss = 1170632.8108856678 | diffrecence = -43883.9881670475
-[93]  loss = 1098377.865526557 | diffrecence = -72254.94535911083
-[94]  loss = 1037953.2158133984 | diffrecence = -60424.64971315861
-[95]  loss = 1061284.7813138962 | diffrecence = 23331.565500497818
-[96]  loss = 1137573.401704073 | diffrecence = 76288.62039017677
-[97]  loss = 1064574.9233179092 | diffrecence = -72998.47838616371
-[98]  loss = 1102540.3308475018 | diffrecence = 37965.407529592514
-[99]  loss = 991720.6759836674 | diffrecence = -110819.65486383438
-[100]  loss = 1004857.765607357 | diffrecence = 13137.089623689651

## Make Predictions

In [213]:
preds = NN.forward(torch.from_numpy(X_test).float())

In [214]:
preds = preds.detach().numpy().reshape(-1,)

In [215]:
result = pd.DataFrame(
    {
        'Actual':y_test,
        'Prediction':np.round(preds).astype(int)

    }
)

In [216]:
result.head(10)

        Actual  Prediction
534035      18           4
500965       4           4
398283      32          25
234360      32           4
446773      10           4
182989      32           8
524192       3           4
271810      12         114
424949       8           5
118722       1           4

In [217]:
from sklearn.metrics import r2_score

r2_score(y_test,preds)

-1.2166222570195169